@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(112, 247, 202, 0.904);
    text-align: justify;
}

header {
    background-image: linear-gradient(to top, rgb(38, 78, 38), rgb(101, 192, 101));
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 2px;
}

nav {
    background-color: rgb(42, 88, 55);
    text-align: left;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 18px;
}
nav >a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    margin: auto;

}

p {
    text-indent: 30px;
}

footer {
    background-color: rgb(42, 88, 55);
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
}